---
import Default from "../layouts/Default.astro"
import Button from "../components/Button.astro"
import Faq from "../components/Faq.astro"

import Countdown from "../components/Countdown.jsx"
---

<Default>
  <div>
    <h1 class="title">
      <span style={{ color: 'var(--fg)'}}>Hack</span><span style={{ color: 'var(--ku_blue)' }}>KU</span>
      <span style={{ color: 'var(--ku_red)' }}>26</span>
    </h1>
    <!-- <h1 id="countdown">--d --h --m --s</h1> -->
    <Countdown toDateStr="Apr 17, 2026 00:00:00" client:load/>
    <h2 class="important wave">coming soon!</h2>
    <p>~ April 2026</p>
    <Button link="https://docs.google.com/document/d/1i_GyIkB9uczdHhDHN21_D2YCgBVfm3W6SIrVlrtPfFA/">
      <span style={{ color: '#2767ff'}}>
        Become an Organizer!
      </span>
    </Button>
  </div>
  <Faq />
</Default>

<style>
div {
  color: var(--fg_gutter);
  width: 100dvw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.title {
  font-size: 4rem;

  /* Mobile styles */
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.important {
  color: #f2a900;
  animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(-15px);
}
100% {
  transform: translateY(0);
}
</style>

