---
import Default from "../layouts/Default.astro"
import Button from "../components/Button.astro"
import Faq from "../components/Faq.astro"

import Countdown from "../components/Countdown.jsx"

import TeamMember from "../components/TeamMember.astro"
---

<Default>
  <div>
    <h1 class="title">
      <span style={{ color: 'var(--fg)'}}>Hack</span><span style={{ color: 'var(--ku_blue)' }}>KU</span>
      <span style={{ color: 'var(--ku_red)' }}>26</span>
    </h1>
    <!-- <h1 id="countdown">--d --h --m --s</h1> -->
    <Countdown toDateStr="Apr 17, 2026 00:00:00" client:load/>
    <h2 class="important wave">April 17-19, 2026!</h2>
    <Button link="https://docs.google.com/forms/d/e/1FAIpQLSfg6kfJNFgHkrxn3ltZeq12VJ8ixg3biHEPKcjfUERIY-oEgQ/viewform?usp=header">
      <span style={{ color: '#2767ff'}}>
        Register for HackKU26!!
      </span>
    </Button>
  </div>
  <Faq />
  <div style="justify-content: center;">
    <h1 class="title">Meet the Team</h1>
    <div id="members-container">
      <TeamMember name="John Doe" role="Software Engineer" photoUrl="https://upload.wikimedia.org/wikipedia/commons/3/30/Vulpes_vulpes_ssp_fulvus.jpg" />
      <TeamMember name="Jane Smith" role="Product Manager" photoUrl="https://upload.wikimedia.org/wikipedia/commons/3/30/Vulpes_vulpes_ssp_fulvus.jpg" />
      <TeamMember name="Alice Johnson" role="Designer" photoUrl="https://upload.wikimedia.org/wikipedia/commons/3/30/Vulpes_vulpes_ssp_fulvus.jpg" />
      <TeamMember name="Bob Brown" role="Marketing Specialist" photoUrl="https://upload.wikimedia.org/wikipedia/commons/3/30/Vulpes_vulpes_ssp_fulvus.jpg" />
      <TeamMember name="Charlie Davis" role="Data Scientist" photoUrl="https://upload.wikimedia.org/wikipedia/commons/3/30/Vulpes_vulpes_ssp_fulvus.jpg" />
    </div>
  </div>
</Default>

<style>
div {
  color: var(--fg_gutter);
  width: 100dvw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.title {
  font-size: 4rem;

  /* Mobile styles */
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

#members-container {
    min-height: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    place-content: center;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.important {
  color: #f2a900;
  animation: wave 1.5s ease-in-out infinite;

}

@keyframes wave {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(-15px);
}
100% {
  transform: translateY(0);
}
</style>

