---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<button>
  <a 
    href={link}
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</button>

<style>
button {
  margin: 1.5rem auto;
  padding: 1rem;

  border-radius: 9999px; /* or 50% */
  border: 2px solid var(--fg);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  font: inherit;
  text-decoration: none;
  background: none;
  background-color: rgba(0, 0, 0, 0.15);

  width: fit-content;

  transition: all 0.2s;
}

button:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

a {
  /* color: #971b2f; */
}

</style>
