---
interface Props {
  link: string;
  borderColor?: string;
}

const { link, borderColor } = Astro.props;
const border = borderColor ?? "#252422";
---

<button>
  <a 
    href={link}
    rel="noopener noreferrer"
    target="_blank"
  >
    <slot />
  </a>
</button>

<style define:vars={{ borderColor: border }}>
button {
  margin: 1.5rem auto;
  padding: 1rem;

  border-radius: 9999px; /* or 50% */
  border: 2px solid var(--borderColor);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  font: inherit;
  text-decoration: none;
  background: none;
  background-color: rgba(0, 0, 0, 0.08);

  width: fit-content;

  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.17);
}
</style>
