---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<head>
  <title>{title ? title + " - HackKU26" : "HackKU26" }</title>

  <!-- Metadata -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  <!-- Local files -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/styles/global.css" />
</head>
