---
import type { LinkItem } from "../components/Footer.astro";

import Head from "../components/Head.astro"
import MLHBanner from "../components/MLHBanner.astro"
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
}

const LINKS: LinkItem[] = [
  {
    text: "sponsors",
    link: "/sponsor",
    newtab: false,
  },
  {
    text: "register!!",
    link: "https://docs.google.com/forms/d/e/1FAIpQLSfg6kfJNFgHkrxn3ltZeq12VJ8ixg3biHEPKcjfUERIY-oEgQ/viewform?usp=header",
    emphasis: true,
    newtab: true,
  },
  {
    text: "discord",
    link: "https://discord.gg/fSWMAADzar",
    newtab: true,
  },
  {
    text: "instagram",
    link: "https://www.instagram.com/thehackku/",
    newtab: true,
  },
]

const { title } = Astro.props;
---

<html lang="en">
  <Head title={title}/>
	<body>
    <MLHBanner />
    <slot />
    <Footer links={LINKS}  />
	</body>
</html>

<style>
/* Large screens: add some padding at the bottom to account for nav bar */
@media (min-width: 768px) {
  body {
    padding-bottom: 5rem;
  }
}
</style>
